.airbnb-mock__search-bar-container {
  display: flex;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 576px) {
  .airbnb-mock__search-bar-container {
    margin-right: 0;
  }
}

.airbnb-mock__search-bar-container--filter-drawer-visible-true {
  opacity: 0;
}

.searchbar__input-container {
  border-radius: 16px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  height: 55px;
  display: flex;
  /* prevents cutting off of border-radius */
  overflow: hidden;
  font-size: 0.9rem;
  color: #333333;
}

.searchbar__input,
.searchbar__guests-container {
  font-family: "Mulish", sans-serif;
  border-color: transparent;
  outline: none;
  height: 55px;
  border: none;
  padding: 0 16px;
  border-right: 1px solid #f2f2f2;
  color: #333333;
}

.searchbar__input--location {
  background-color: transparent;
  /* hack for input type="text" */
  max-width: 108px;
}

.searchbar__guests-container {
  display: flex;
  align-items: center;
}

.searchbar__guests-container--0-guests {
  color: #bdbdbd;
}

.searchbar__submit {
  background-color: inherit;
  height: 55px;
  width: 55px;
  border-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(235, 87, 87, 0.9);
  cursor: pointer;
}

.searchbar__submit:focus {
  outline: none;
}
