body {
  font-family: "Montserrat", sans-serif;
}

.App {
  padding: 20px 10px;
  position: relative;
}

.airbnb-mock__container {
  /* match width of 3 cards */
  max-width: 1282px;
  margin-left: auto;
  margin-right: auto;
}

.airbnb-mock__logo--filter-drawer-visible-true {
  opacity: 0;
}
