body {
  font-family: "Montserrat", sans-serif;
}

.App {
  padding: 20px 10px;
}

@media screen and (min-width: 1200px) {
  .App {
    padding: 40px 80px;
  }
}

.airbnb-mock__container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "airbnb-mock__header"
    "airbnb-mock__text-container"
    "airbnb-mock__cards-container";
  grid-template-rows: 120px 80px auto;
  grid-template-columns: 100%;
}

.airbnb-mock__header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media screen and (min-width: 576px) {
  .airbnb-mock__header {
    flex-direction: row;
  }
}

.airbnb-mock__logo--filter-drawer-visible-true {
  opacity: 0;
}
